@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <br />        
                <hr />
                <hgroup>
                    <h2 class="text-error">An error occurred while processing your request.</h2>
                </hgroup>
            </div>
        </div>
    </div>
</div>
